<tr>
    <td title="$importTimestamp">$importTimestamp</td>
    <td title="$importUrls">$importUrls</td>
    <td title="$sitecoreUrl">$sitecoreUrl</td>
    <td>
        <a class="view-log link-info" title="View Log" data-id="$importId" href="#importLogPanel">View Log</a>
    </td>
    <td>
        <a class="rerun-import link-info" title="Modify & Run" data-id="$importId" href="#">Modify & Run</a>
    </td>
    <td>
        <a class="delete-import" title="Delete" data-id="$importId">
            <img src="./images/cross.svg" /> 
        </a>
    </td>
</tr>