<form id="importForm" class="row g-3 p-3" data-view="./views/Import.html" data-status="">
    <div class="row py-2 w-100 form-group">
        <div class="col-lg-2"><strong>Webpage URL(s):</strong></div>
        <div class="col-lg-6">
            <div class="fetched-urls"><span id="fetchedUrlsCount"></span> URLs found!</div>
            <textarea id="webpageUrls" name="webpageUrls" class="form-control outline-none w-100" rows="2"
                placeholder="Enter Website URL(s) (semi-colon separated) or click fetch button to pull from Sitemap"></textarea>
        </div>
        <a id="fetchUrls" href="#sitemapPanel" title="Fetch Urls from Sitemap" data-toggle="tooltip">
            <img src="./images/sitemap.svg" />
        </a>
    </div>
    <div class="row py-2 mb-3 w-100 form-group">
        <div class="col-lg-2"><strong>Sitecore URL:</strong></div>
        <div class="col-lg-6 pos-relative">
            <input id="sitecoreUrl" name="sitecoreUrl" class="form-control" placeholder="Enter Target Sitecore URL"
                type="text">
            <div id="authenticate">
                <img id="authenticationSucceeded" src="./images/tick.svg" class="d-none" width="18px" />
                <img id="invalidUrl" src="./images/warning.svg" class="d-none" width="20px"
                    title="Entered Sitecore Url is invalid" />
                <span id="authenticationLoading"
                    class="d-none spinner-border ml-3 mr-2 text-base12 loading-spinner d-none"></span>
                <button id="authenticationFailed" class="btn d-none" type="button">
                    Authenticate to Proceed ➡
                </button>
            </div>
        </div>
    </div>
    <div id="mappingTemplateSection" class="d-none w-100 pb-3">
    </div>
    <div id="addLinkSection" class="w-100">
    </div>
    <button id="save" class="btn btn-info my-2 mr-3" type="submit">Save</button>
    <button id="import" class="btn btn-info my-2" type="submit" disabled>Import</button>
    <span class="pt-3 px-3 collapse" id="saveSuccessMessage">Saved Successfully!</span>
    <span class="pt-3 px-3 collapse" id="importConfigFailed">Unable to import configuration, please authenticate and try again</span>
    <span class="pt-3 px-3 d-none" id="importSuccessMessage">Imported Successfully!</span>
    <div class="mt-3 d-none" id="importProgressMessage"><span
            class="spinner-border ml-3 mr-2 text-base12 loading-spinner"></span>Importing.. Please wait!</div>
    <span class="pt-3 px-3 d-none" id="importFailureMessage">Import completed with errors</span>
    <a class="pt-3 px-3 link-info d-none" id="importDetails" href="#importLogPanel">View Log</a>
    <a class="pt-3 link-danger d-none" id="abortImport" href="">Abort</a>
    <a class="pt-3 link-info d-none" id="resetImport" href="">Reset</a>
</form>