<div class="destination-group-map bg-base01 pl-3 p-2 mb-3 col-lg-8">
    <a class="delete-mapping-section d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50"
            xml:space="preserve">
            <path fill="#231F20"
                d="M9.016,40.837c0.195,0.195,0.451,0.292,0.707,0.292c0.256,0,0.512-0.098,0.708-0.293l14.292-14.309  l14.292,14.309c0.195,0.196,0.451,0.293,0.708,0.293c0.256,0,0.512-0.098,0.707-0.292c0.391-0.39,0.391-1.023,0.001-1.414  L26.153,25.129L40.43,10.836c0.39-0.391,0.39-1.024-0.001-1.414c-0.392-0.391-1.024-0.391-1.414,0.001L24.722,23.732L10.43,9.423  c-0.391-0.391-1.024-0.391-1.414-0.001c-0.391,0.39-0.391,1.023-0.001,1.414l14.276,14.293L9.015,39.423  C8.625,39.813,8.625,40.447,9.016,40.837z" />
        </svg>
    </a>
    <div class="row py-2 form-group">
        <div class="col-lg-2 pr-0"><strong>Target Path:</strong></div>
        <div class="col-lg-8">
            <input class="path-selector target-selector outline-none form-control pr-5" name="pathSelector"
                placeholder="Specify Parent Path(if new item) or Item Path(if existing) to create/update" type="text">
            <a href="#itemPathSection" class="tree-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0H24V24H0z" />
                    <path class="nav__icon-fill"
                        d="M10 2c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1H8v2h5V9c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H8v6h5v-1c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H7c-.552 0-1-.448-1-1V8H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h6zm9 16h-4v2h4v-2zm0-8h-4v2h4v-2zM9 4H5v2h4V4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
    </div>
    <div class="row py-2 form-group">
        <div class="col-lg-2 pr-0"><strong>Item Template:</strong></div>
        <div class="col-lg-8">
            <input class="path-selector template-selector outline-none form-control pr-5"
                placeholder="Specify the Destination Item's Template" name="templateSelector" type="text">
            <a href="#templatePathSection" class="tree-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0H24V24H0z" />
                    <path class="nav__icon-fill"
                        d="M10 2c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1H8v2h5V9c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H8v6h5v-1c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H7c-.552 0-1-.448-1-1V8H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h6zm9 16h-4v2h4v-2zm0-8h-4v2h4v-2zM9 4H5v2h4V4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
    </div>
</div>