<div class="destination-group-map bg-base01 p-3 mb-3 col-lg-8">
    <a class="delete-mapping-section d-none">
        <img src="/devtools/images/cross.svg">
    </a>
    <div class="row py-2 form-group">
        <div class="col-lg-2 col-3 pr-0"><strong>Item Path:</strong></div>
        <div class="col-lg-8 col-8">
            <input class="path-selector target-selector outline-none form-control pr-5" name="pathSelector"
                placeholder="Specify the Item Path to create/update" type="text">
            <a href="#itemPathPanel" class="tree-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0H24V24H0z" />
                    <path class="nav__icon-fill"
                        d="M10 2c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1H8v2h5V9c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H8v6h5v-1c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H7c-.552 0-1-.448-1-1V8H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h6zm9 16h-4v2h4v-2zm0-8h-4v2h4v-2zM9 4H5v2h4V4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
        <span class="d-contents">
            <img src="./images/info.svg" class="ml-n2" data-toggle="tooltip" title="Use $name for current page name. Replace options for Item Name can be configured in Settings tab." />	
        </span>
    </div>
    <div class="row py-2 form-group">
        <div class="col-lg-2 col-3 pr-0"><strong>Item Template:</strong></div>
        <div class="col-lg-8 col-8">
            <input class="path-selector template-selector outline-none form-control pr-5"
                placeholder="Specify the Target Item's Template" name="templateSelector" type="text">
            <a href="#templatePathPanel" class="tree-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0H24V24H0z" />
                    <path class="nav__icon-fill"
                        d="M10 2c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1H8v2h5V9c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H8v6h5v-1c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H7c-.552 0-1-.448-1-1V8H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h6zm9 16h-4v2h4v-2zm0-8h-4v2h4v-2zM9 4H5v2h4V4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
    </div>
    <div class="row py-2 form-group">
        <div class="col-lg-2 col-3 pr-0"><strong>Media Path:</strong></div>
        <div class="col-lg-8 col-8">
            <input class="path-selector media-selector outline-none form-control pr-5" name="mediaSelector"
                placeholder="Specify Media Path for importing any associated media (Optional)" type="text">
            <a href="#mediaPathPanel" class="tree-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                    <path fill="none" d="M0 0H24V24H0z" />
                    <path class="nav__icon-fill"
                        d="M10 2c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1H8v2h5V9c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H8v6h5v-1c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v4c0 .552-.448 1-1 1h-6c-.552 0-1-.448-1-1v-1H7c-.552 0-1-.448-1-1V8H4c-.552 0-1-.448-1-1V3c0-.552.448-1 1-1h6zm9 16h-4v2h4v-2zm0-8h-4v2h4v-2zM9 4H5v2h4V4z"
                        fill="#000" />
                </svg>
            </a>
        </div>
    </div>
</div>